doctype html

| <!--[if IE 8]>         <html class="ie8"> <![endif]-->
| <!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
| <!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->


  head
    meta(charset='UTF-8')
    title Gallery!
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='../css/main.css')
    script(src='../lib/_bower.js')
  body
    #content
    script(type='text/javascript', src='../js/pmodum.js')

| </html>